# IntelliJ project files
.idea

# Maven files
target/
.mvn
.mvn-classpath
pom.xml.bak

# Misc
.DS_Store

node_modules/
apikey.ts
firebase.config.ts
backend/src/main/java/server/handlers/HTTP/rapidapi.java