.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  /*background-color: yellow;*/
  position: relative;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.search-bar-container{
  margin-top: 1vh;
  position: relative;
  background-color: red;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: black;
  z-Index: 1;
}

.webpage-title{
  font:100px;
  font-weight: bolder;
}

.webpage-subtitle{
  font:10px;
  font-style: italic;
}

.new-search-bar{
  flex-direction: column;
  font-size: calc(1px + 2vmin);
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-search-box{
  width: 100vh;
  height: 5vh
}

.button-search-box{
  height: 5vh;
  width: 10vh;
  margin-left: 1vh;
}


.filter{
  max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5px;
}

.results-filter{
  display: flex;
  flex-direction: row; 
}


.search-bar{
  position: relative;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.sc-bcXHqe.bncmtB.react-search-box-dropdown{
  margin-top: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  border: 1px solid black;
}

.sc-gswNZR.ilZVLX{
  font-size: 20px;
}

.platforms-container {
  text-align: left;
  padding-bottom: 10px;
  max-width:120px;
}

.one-platform {
  background-color: blueviolet;
  text-align: left;
}

.size-container {
  text-align: left;
  padding-bottom: 10px;
  max-width:120px;
}

.title-filter{
text-align: left;
font-size: small;
}

.filter-switch{
  width: 100px;
}

.currency-container {
  text-align: left;
  padding-bottom: 10px;
  max-width:120px;

}
.one-currency {
  background-color: blueviolet;
  text-align: left;
}

.product-description{
  /*background-color: yellow;*/
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
}

.search-results{
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
  flex-wrap: wrap;
}
.product-image-wrapper {
  position: relative;
  display: inline-block;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.product-image {
  display: block;
  width: 100%;
}

.wishlist-btn {
  position: absolute;
  top: 22px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border:none;
}

.viewwishlist-btn {
  border-color: black;
  background-color:white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  width: fit-content;
  height: 50px;
  top: 90px;
  right: 70px;
  
  border-radius: 100px;
 
  /* zindex bring button to the front of page */
  z-index: 99099;
}

.wishlist-btn:hover {
  background-color: #e74c3c;
  color: #fff;
}

.wishlist-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(48, 11, 106, 0.5);
}

.wishlist-btn:active {
  transform: translateY(5px);
}

.wishlist-panel-close-btn{
  border-radius: 100px;
}

.product-option{
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(1px + 2vmin);
  color: white;
}

.product-vendor{
  background-color: black;
  width: 100px;
}

.product-price{
  width: 100px;
  background-color: pink;
}

.product{
  margin-left: 2vh;
  max-width: 250px;
  padding-top: 5px;
  min-width: 100px;
}

.product-name{
  font-size: small;
  color: black;
}
.product-image{
  width: 200px;
  height: 200px;
}

.signin-container{
  align-items: center;
  text-align: center;
  
}

.card-img-product-image{
  width: fit-content;
}
#product-image-wrapper{
  width:200px;
  min-height: 1000px;
}


/* Button container styles */
.google-btn {
  display: inline-block;
  background-color: #fff;
  color: #737373;
  border: 1px solid #737373;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  height: 50px;
  position: relative;
  padding-bottom: 5px;
  /* zindex bring button to the front of page */
  z-index: 9999;
}


.signout-btn {
  display: inline-block;
  background-color: #fff;
  color: #737373;
  border-radius: 4px;
  border: 1px solid #737373;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  width: 120px;
  height: 50px;
  position: absolute;
  /* zindex bring button to the front of page */
  z-index: 9999;
}


/* Button hover styles */
.google-btn:hover {
  background-color: #1465de;
  color: #fff;
}

/* Button icon styles */
.google-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  width: 28px;
  height: 20px;
  position: relative;
  right: -10px;
}


/* Text container styles */
.google-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome-message {
  font-weight: bold;
  color: #0f0202;
  position: relative;
  pointer-events: none;
  z-index: 9999;
}


/* Button hover styles */
.signout-btn:hover {
  background-color: #890def;
  color: #fff;
}

.error-message{
  background-color: red;
  font-weight: bold;
}

.wishlist-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  overflow-y: auto;
  padding: 20px;
  z-index: 9999;
}

.wishlist-panel.open {
  transform: translateX(0);
}

.handleRemoveFromWishlistBtn{
  border-radius: 100px;
  background-color: white;
  max-width: fit-content;
}




/* Button hover styles */
.viewwishlist-btn:hover {
  background-color: red;
  color: #fff;
}


